<web-app>
    <display-name>hello-portlet-test</display-name>
    <listener>
        <listener-class>org.exoplatform.container.web.PortalContainerConfigOwner</listener-class>
    </listener>

    <filter>
        <filter-name>ResourceRequestFilter</filter-name>
        <filter-class>org.exoplatform.portal.application.ResourceRequestFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ResourceRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>